# CHANGE HERE BEFORE FIRST RUN
APP_KEY=  # USE `php artisan key:generate` or https://laravel-encryption-key-generator.vercel.app
DB_USERNAME=goshne
DB_PASSWORD=goshnepassword
TELEGRAM_BOT_TOKEN=
APP_URL=http://localhost

#CORS_ALLOWED_ORIGINS=https://localhost,https://localhost:*,http://localhost,http://localhost:*

TELEGRAM_BOT_BASE_URI=https://api.telegram.org
MARKET_PARTY_PRODUCTS_TTL=600
MARKET_PARTY_NOTIFY_TTL=43200
FOOD_PARTY_NOTIFY_TTL=43200
FOOD_PARTY_SCHEDULE="1,31 6-23 * * *"
MARKET_PARTY_SCHEDULE="5,35 6-23 * * *"
DEFAULT_LATITUDE=36.32112700482277
DEFAULT_LONGITUDE=59.53740119934083
DEFAULT_IMAGE=https://raw.githubusercontent.com/ahbanavi/goshne/main/resource/default.jpg

APP_NAME="GoshnePrro"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Tehran
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=goshneprro

SESSION_DRIVER=redis
SESSION_CONNECTION=session
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=null
SESSION_SAME_SITE=lax

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_QUEUE_CONNECTION=default
REDIS_QUEUE_RETRY_AFTER=90
REDIS_QUEUE_BLOCK_FOR=5

VITE_APP_NAME="${APP_NAME}"
